<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.klaudioz.niimbot-vial-printer</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/klaudioz/dotfiles/niimbot-vial-printer-launchd.sh</string>
  </array>

  <!-- Disabled: D11 printer permanently off -->
  <key>RunAtLoad</key>
  <false/>

  <key>KeepAlive</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/tmp/com.klaudioz.niimbot-vial-printer.out</string>

  <key>StandardErrorPath</key>
  <string>/tmp/com.klaudioz.niimbot-vial-printer.err</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/klaudioz</string>
  </dict>
</dict>
</plist>
